<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="aes.dll" version="1.0.0" targetFramework="native" />
  <package id="Beems.Matrix" version="1.0.2" targetFramework="native" />
  <package id="Blazorise.Charts" version="0.5.2" targetFramework="native" />
  <package id="blitz" version="0.10.0.5" targetFramework="native" />
  <package id="CData.Box" version="18.0.6883" targetFramework="native" />
  <package id="CefSharp.WinForms" version="71.0.2" targetFramework="native" />
  <package id="Chart.Mvc" version="1.0.0.2" targetFramework="native" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="native" />
  <package id="Cyotek.Windows.Forms.ColorPicker" version="1.7.2" targetFramework="native" />
  <package id="FormFire" version="1.0.0.1" targetFramework="native" />
  <package id="FusionCharts.Visualization" version="0.10.0-beta" targetFramework="native" />
  <package id="GeoidHeightsDotNet" version="1.0.1" targetFramework="native" />
  <package id="GetOrgChart" version="2.5.2" targetFramework="native" />
  <package id="GoogleAnalytics.GoogleCharts.NET" version="1.0.1" targetFramework="native" />
  <package id="jQuery" version="2.1.1" targetFramework="native" />
  <package id="Kesoft.Windows.Forms.Panels" version="1.1.4.0" targetFramework="native" />
  <package id="libfftw" version="3.3.4" targetFramework="native" />
  <package id="MaterialDesign.dll" version="1.0.0" targetFramework="native" />
  <package id="material-design-lite" version="1.1.2" targetFramework="native" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="native" />
  <package id="ModernUICharts.WPF.Beta" version="0.9.1" targetFramework="native" />
  <package id="Mvc.RazorTools.Charts" version="0.0.10" targetFramework="native" />
  <package id="QtCharts.redist" version="5.7.0" targetFramework="native" />
  <package id="RenderHighCharts.Render" version="1.2.12.0" targetFramework="native" />
  <package id="SampleDependency" version="1.0.0" targetFramework="native" />
  <package id="Simplify.Windows.Forms" version="1.0.0" targetFramework="native" />
  <package id="WinFormApplicationVersionTitleBar" version="1.4.0" targetFramework="native" />
</packages>